.content {
  // background-color: #f0f2f5;
}

.statsContainer {
  display: flex;
  margin-left: 240px;
  margin-right: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  padding-left: 2rem;
}

.chartsContainer {
  padding: 2rem;
}

@media (max-width: 768px) {
  .statsContainer {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1rem;
    // flex-direction: column;
    gap: 0.5rem;
  }
}
