@use "../../../styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}
.label {
  font-size: $font-size-sm;
  color: $color-text;
}
.input {
  padding: $spacing-3;
  border: 1px solid $color-border;
  border-radius: $border-radius-md;
  font-size: $font-size-base;

  &::placeholder {
    color: $color-text-light;
  }
}
.input.error {
  border-color: $color-danger;
}
.errorMessage {
  font-size: $font-size-xs;
  color: $color-danger;
}
